<!-- CABECERA DEL MODAL-->
<div class="modal-header text-white">
  <h4 class="modal-title" id="modal-basic-title">Puntos acumulados</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrar()">
  </button>
</div>

<div class="modal-body">

  <h2>Escoge una oferta</h2>
  <div class="col px-5">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <span>100 tokens por S/ 10.00</span>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <span>100 tokens por S/ 10.00</span>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <span>100 tokens por S/ 10.00</span>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <span>100 tokens por S/ 10.00</span>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <span>100 tokens por S/ 10.00</span>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center mt-4 mb-4">
      <button class="btn btn-primary" style="background-color: #CF755A; border-color: #CF755A" (click)="continuar()">
        Continuar
      </button>
    </div>

  </div>
</div>
