<!-- CABECERA DEL MODAL
<div class="modal-header" style="background-color: #cf755a;">
  <h5 class="modal-title" id="modal-basic-title">Registrada correctamente</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrar()">
  </button>
</div>
-->

<!-- CUERPO DEL MODAL-->
<div class="modal-body">

  <div class="row">

    <div class="col d-flex justify-content-center mt-2">
      <h4 style="text-align: center;">¿Está seguro(a) que desea cerrar su sesión?</h4>
    </div>

  </div>

</div>

<!-- FOOTER DEL MODAL-->
<div class="modal-footer d-flex justify-content-center">

  <button class="btn btn-primary px-4 me-2" style="background-color: #cf755a; border: #cf755a;"
    (click)="aceptar()">Aceptar</button>

  <button class="btn btn-secondary px-4" (click)="cancelar()">Cancelar</button>

</div>
