<!-- PLANTILLA DE OPCION MENU -->

<!-- CONTENEDOR PRINCIPAL -->
<div class="container">
  <!-- BARRA DE MENÚ -->
  <div class="col pt-3 sticky-top" style="background-color: #C4C4C4;">

    <!-- BARRA DE MENÚ -->
    <div class="row px-2">

      <div class="col-1"></div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irHome()">

        <div class="col d-flex flex-column mb-3">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">home</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irNotificaciones()">

        <div class="col d-flex flex-column mb-3">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">notifications_none</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2 border-bottom border-4 border-danger">

        <div class="d-flex flex-column mb-3">

          <div class="d-flex justify-content-center">
            <mat-icon class="selected">search</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irFavoritos()">

        <div class="d-flex flex-column">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">stars</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irMas()">

        <div class="d-flex flex-column">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">menu</mat-icon>
          </div>

        </div>

      </div>

      <!-- COLSPAN -->
      <div class="col-1"></div>

    </div>

  </div>

  <!-- CONTENEDOR SECUNDARIO -->
  <div class="col px-3">

    <div class="row mt-4">

      <form [formGroup]="formBuscar" novalidate>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"
                 formControlName="buscar">
          <button class="btn btn-outline-primary d-flex me-2" type="submit" (click)="buscarPorNombre()">
            <mat-icon>
              search
            </mat-icon>
          </button>
          <button class="btn btn-outline-danger d-flex" type="button" (click)="limpiar()">
            <mat-icon>
              search_off
            </mat-icon>
          </button>
        </div>

        <div class="form-floating mt-2">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                  formControlName="categoria">
            <option hidden>Seleccione</option>
            <option *ngFor="let item of lstCategoria">{{ item }}</option>
          </select>
          <label for="floatingSelect" class="text-muted">Categoría</label>
        </div>

        <div class="form-floating mt-2">
          <select class="form-select" id="floatingSelectDistrito" aria-label="Floating label select example"
                  formControlName="distrito">
            <option hidden>Seleccione</option>
            <option *ngFor="let item of lstDistrito"> {{ item }} </option>
          </select>
          <label for="floatingSelectDistrito" class="text-muted">Distrito</label>
        </div>
      </form>

      <!-- LABEL INFORMATIVO -->
      <div *ngIf="existeBusqueda" class="mt-2 mb-4">
        <span *ngIf="lstRestaurantes.length > 0">Mostando resultados para <b>"{{ textoBuscado }}"</b></span>

        <span *ngIf="lstRestaurantes.length === 0" class="text-danger">No se han encontrado resultados para <b>"{{
          textoBuscado }}"</b></span>
      </div>

    </div>

    <ng-container *ngIf="nomFav != null && lstRestaurantes.length === 0">
      <div class="mt-4">
        <img src="assets/img/loading.jpg" width="90%">
      </div>
      <div class="d-flex justify-content-center mt-3 mb-5" (click)="buscarPorNombre()">
        <span>Ups! ocurrió un error </span>
        <span class="fw-bold ms-2" style="color: #CF755A"> Inténtalo nuevamente</span>
      </div>
    </ng-container>

    <ng-container *ngIf="lstRestaurantes.length > 0">
      <!-- LISTADO DE RESTAURANTES-->
      <div class="card mt-2 py-2" *ngFor="let item of lstRestaurantes">
        <div class="card-body d-flex justify-content-between">

          <!--
          <div class="d-flex align-items-center">
            <span class="fs-3">{{ item.nomResta }}</span>
            <span class="text-muted">{{ item.subResta }}</span>
          </div>
          -->

          <div class="d-flex flex-column">
            <span class="fs-3">{{ item.nomResta }}</span>
            <span class="text-muted mt-2">{{ item.subResta }}</span>
          </div>

          <button mat-icon-button (click)="verRestaurante(item)">
            <mat-icon class="arrow">chevron_right</mat-icon>
          </button>

        </div>
      </div>
    </ng-container>

  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="FFFFFF" type="square-jelly-box">
    <p style="color: white"> Cargando... </p>
  </ngx-spinner>
</div>
