<!-- CONTENEDOR PRINCIPAL -->
<div class="container">

  <!-- CONTENEDOR DE MENÚ -->
  <div class="col pt-3 sticky-top" style="background-color: #C4C4C4;">

    <!-- BARRA DE MENU -->
    <div class="row px-2">

      <!-- COLSPAN -->
      <div class="col-1"></div>

      <!-- ITEM MENU -->
      <div class="col-2 border-bottom border-4 border-danger">

        <div class="col d-flex flex-column mb-3">

          <div class="d-flex justify-content-center">
            <mat-icon class="selected">home</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irNotificaciones()">

        <div class="col d-flex flex-column mb-3">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">notifications_none</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irBuscar()">

        <div class="d-flex flex-column">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">search</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irFavoritos()">

        <div class="d-flex flex-column">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">stars</mat-icon>
          </div>

        </div>

      </div>

      <!-- ITEM MENU -->
      <div class="col-2" (click)="irMas()">

        <div class="d-flex flex-column">

          <div class="d-flex justify-content-center">
            <mat-icon class="notSelected">menu</mat-icon>
          </div>

        </div>

      </div>

      <!-- COLSPAN -->
      <div class="col-1"></div>

    </div>

  </div>

  <!-- CONTENEDOR SECUNDARIO -->
  <div class="col pb-4">

    <h2 class="ms-2 mt-3 fw-bold">Inicio</h2>

    <!-- CADA NOTICIA
    <div class="card mt-4 mx-4">
      <div class="card-body">

        <div class="col-auto d-flex">
          <div class="col-3">
            <img src="assets/img/logo.jfif" width="70px">
          </div>

          <div class="col-9 d-flex justify-content-center">
            <h2>Nombre Restaurante</h2>
          </div>
        </div>

        <p class="card-text my-3" style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aliquam enim,
          harum! Eaque earum ex id ipsa perferendis tempore temporibus voluptate voluptatum? Consequuntur
          modi numquam obcaecati, provident quia quis quisquam sint.</p>

        <img src="https://pbs.twimg.com/media/EgcCf8TXcAA7HPZ.png" alt="" width="100%">

      </div>
    </div>

    <div class="card mt-4 mx-4">
      <div class="card-body">

        <div class="col-auto d-flex">
          <div class="col-3">
            <img src="assets/img/logo.jfif" width="70px">
          </div>

          <div class="col-9 d-flex justify-content-center">
            <h2>Nombre Restaurante</h2>
          </div>
        </div>

        <p class="card-text my-3" style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aliquam enim,
          harum! Eaque earum ex id ipsa perferendis tempore temporibus voluptate voluptatum? Consequuntur
          modi numquam obcaecati, provident quia quis quisquam sint.</p>

        <img src="https://pbs.twimg.com/media/EgcCf8TXcAA7HPZ.png" alt="" width="100%">

      </div>
    </div>
    -->

    <!-- IMPLEMENTACION -->
    <div class="card mt-4 mx-4">
      <div class="card-body">

        <div class="col-auto d-flex">
          <div class="col-3">
            <img src="assets/img/logopardos.png" width="70px" style="border-radius: 50%">
          </div>

          <div class="col-9 ms-3 d-flex align-items-center">
              <span class="fs-3 fw-bold">Pardos Chicken</span>
          </div>
        </div>

        <p class="card-text my-3" style="text-align: justify">⚽ ¡Vive la pasión del repechaje con nuestro sorteo mundialista y llévate un polo exclusivo de colección diseñado por artistas peruanos! 🇵🇪🤩
          Para participar:
          ✅ Compra una de las promos especificadas en el post a través de nuestros canales digitales
          ¡Y listo! ya estás participando por uno de los 75 polos exclusivos
          Mientras más veces compres nuestras promos mundialistas, tendrás más oportunidades de ganar 😉
          Publicación de los ganadores: 3 de junio primer sorteo y 10 de junio segundo sorteo
          <br>
          Términos y condiciones en el siguiente link: <a href="">https://bit.ly/3L4Urek</a>
          <br>
          Participa aquí: <a href=""> https://www.pardoschicken.pe/</a> </p>

        <img src="https://scontent.flim25-1.fna.fbcdn.net/v/t39.30808-6/284054344_10158285594046792_7410221052696551919_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHP29nS5vRuxK6XX821twPW-cXHgNI9S5b5xceA0j1LljwgeNiiNDHsZrSReTlJPR49D6qC2p0eKCVmdwJ7woKu&_nc_ohc=U2Ir1tSOl1kAX9oqDn3&_nc_oc=AQkH2pD0PaMiX4er0Ds-wTXNCHY2EJ9jBbwkGigMOmnOaw70tXGpDkOaZJssgw3cc6U&_nc_ht=scontent.flim25-1.fna&oh=00_AT88CotiSQeYfuXQlK2dA0WpY2Z7Y96Wp1oeK9dQ1ycWdg&oe=62995803" alt="" width="100%">

      </div>
    </div>

  </div>
  <!--
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  -->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="FFFFFF" type="square-jelly-box">
    <p style="color: white"> Cargando... </p>
  </ngx-spinner>
</div>
