<!-- CABECERA DEL MODAL-->
<div class="modal-header" style="background-color: #cf755a;">
  <h5 class="modal-title" id="modal-basic-title">Platos Disponibles</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrar()">
  </button>
</div>

<!-- CUERPO DEL MODAL -->
<div class="modal-body">

  <!-- lst platos -->
  <ng-container>
    <hr>
    <div>
      <h2>Aperitivos</h2>
    </div>

    <div class="d-flex mb-3">
      <div class="col-10 d-flex flex-column pe-2">
        <span class="fs-6">Lorem ipsum dolor</span>
        <span style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <span class="fw-bold">9.90</span>
      </div>
    </div>

    <div class="d-flex mb-3">
      <div class="col-10 d-flex flex-column pe-2">
        <span class="fs-6">Lorem ipsum dolor</span>
        <span style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <span class="fw-bold">9.90</span>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <hr>
    <div>
      <h2>Piqueos</h2>
    </div>

    <div class="d-flex mb-3">
      <div class="col-10 d-flex flex-column pe-2">
        <span class="fs-6">Lorem ipsum dolor</span>
        <span style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <span class="fw-bold">9.90</span>
      </div>
    </div>

    <div class="d-flex mb-3">
      <div class="col-10 d-flex flex-column pe-2">
        <span class="fs-6">Lorem ipsum dolor</span>
        <span style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <span class="fw-bold">9.90</span>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <hr>
    <div>
      <h2>Menu</h2>
    </div>

    <div class="d-flex mb-3">
      <div class="col-10 d-flex flex-column pe-2">
        <span class="fs-6">Lorem ipsum dolor</span>
        <span style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <span class="fw-bold">9.90</span>
      </div>
    </div>

    <div class="d-flex mb-3">
      <div class="col-10 d-flex flex-column pe-2">
        <span class="fs-6">Lorem ipsum dolor</span>
        <span style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <span class="fw-bold">9.90</span>
      </div>
    </div>
  </ng-container>

</div>

<!-- FOOTER DEL MODAL -->
<div class="modal-footer">
  <button class="btn btn-primary px-4" style="background-color: #cf755a; border: #cf755a;"
    (click)="aceptar()">Aceptar</button>
</div>
